body {
    margin-top: 79px;
}

h1, h2
{
    margin:40px 0;
}

footer {
    height: 200px;
    margin-top: 50px;
}
.col-circle img {
    margin: 10px 0;
}
.img-banner {
    width: 100%;
}
/* Navbar
----------------------------*/
nav.navbar {
    font-size: 2em;
}
nav.navbar li a {
    color: white !important;
}
nav.navbar li.active a {
    color: #ffdd00 !important;
}
nav.navbar img {
    height: 50px;
}
/* Cards
----------------------------*/

.card.card-inverse .card-img-overlay
{
    color:white;
    background-color:rgba(0,0,0,0.4);
}
.card.card-inverse .card-text,
.card.card-inverse .card-title
{
    color:white;
}

.card .card-text
{
    font-size:20px;
    margin:30px 0;
}
.card img
{
    width:100%;
    max-width:100%;
}


