@model ServiceCategoryViewModel
 
 <div class="col-sm-3">
	<div class="card text-center card-inverse">
		<img class="card-img img-responsive" src="@Model.ImageName" alt="Card image cap" />
		<div class="card-img-overlay">
			<h2 class="card-title">@Model.Title</h2>
			<p class="card-text">
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur.
			</p>
		</div>
	</div>
</div>