@model SubServiceViewModel

<div class="col-sm-2">
    <div class="card text-center card-inverse">
        <img class="card-img" src="Images/@Model.ImageName" />
        <div class="card-img-overlay">
            <div class="card-title">
                <h3>@Model.Title</h3>
            </div>
            <a href="" class="btn btn-primary">Read more...</a>
        </div>
    </div>
</div>